*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main-calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-self: center;
    align-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.span-2 {
    grid-column: span 2;
}

.output {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 123, 123, 0.527);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

button {
    display: inline-block;
    border: 1px solid rgba(255, 123, 123, 0.527);
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: rgb(255, 255, 255);
    color: #000000;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: rgba(255, 123, 123, 0.527);
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.previous-operand {
    color: rgb(99, 99, 99);
    font-size: 3rem;
}

.current-operand {
    color: rgb(0, 0, 0);
    font-size: 3rem;
}

.rounded-bottom-left {
    border-bottom-left-radius: 10px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 10px;
}