body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-calculator {
    background-color: red;
}

.main-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}